# --- Librerías principales ---
requests==2.32.3
pandas==2.2.3
pyarrow==17.0.0
deltalake==0.17.3

# --- Utilidades del sistema y configuración ---
configparser==7.1.0
pathlib==1.0.1
pprintpp==0.4.0
ipywidgets==8.1.8